<h3 class="section-header">1. Data Protection at a Glance</h3>
   <p><h4>General Information</h4>
<br>
The following notes provide a simple overview of what happens to your personal data when you visit our website. Personal data are all data with which you can be personally identified. You will find detailed information on the subject of data protection in our data protection declaration listed under this text.
<br>
<br>
<h4>Data Collection on Our System</h4>
<br>
<b>Who is responsible for data collection on this website?</b>
<br>
The data processing on this website is carried out by the website operator. You can find his contact details in the footer of this website.
<br>
<br>
<b>How do we collect your information?</b>
<br>
On one hand, your data is collected when you communicate it to us. This may be data that you enter in the sign up form, for example.
<br>
Other data is automatically collected by our IT systems when you visit our website. These are mainly technical data (e.g. Internet browser, operating system or time of page visit). This data is collected automatically as soon as you enter our website.
<br>
<br>
<b>What do we use your data for?</b>
<br>
Part of the data is collected in order to ensure error-free provision of the website. Other data can be used to analyze your user behavior.
<br>
<br>
<b>What rights do you have regarding your data?</b>
<br>
You have the right to receive information about the origin, recipient and purpose of your stored personal data free of charge at any time. You also have the right to request the correction, blocking or deletion of this data. You can contact us at any time at the address given in the imprint if you have any further questions on the subject of data protection. You also have the right of appeal to the competent supervisory authority.</p>
   <h3 class="section-header">2. General Information and Mandatory Information</h3>
   <p><h4>Privacy</h4>
<br>
The operators of these pages take the protection of your personal data very seriously. We treat your personal data confidentially and in accordance with the statutory data protection regulations and this data protection declaration.
<br>
When you use this website, various personal data is collected. Personal data are data with which you can be personally identified. This data protection declaration explains which data we collect and for what we use it. It also explains how and for what purpose this is done.
<br>
We would like to point out that data transmission over the Internet (e.g. communication by e-mail) can have security gaps. A complete protection of data against access by third parties is not possible.
<br>
<br>
<h4>Note on the Responsible Body</h4>
<br>
The responsible body for data processing on this website is:
<br>
<br>
Scopic Africa Limited
<br>
Riara Centre
<br>
Nairobi
<br>
Kenya
<br>
<br>
Responsible body is the natural or legal person who alone or together with others decides on the purposes and means of processing personal data (e.g. names, e-mail addresses, etc.).
<br>
<br>
<h4>Revocation of your Consent to Data Processing </h4>
<br>
Many data processing processes are only possible with your express consent. You can revoke your consent at any time. All you need to do is send us an informal e-mail. The legality of the data processing up to the revocation remains unaffected by the revocation.
<br>
<br>
<h4>Right to Appeal to the Competent Supervisory Authority</h4>
<br>
In the event of breaches of data protection law, the person concerned has a right of appeal to the competent supervisory authority. The responsible supervisory authority for data protection issues is the data protection officer of the federal state in which our company is based. A list of data protection officers and their contact details can be found on this <a href="https://www.bfdi.bund.de/DE/Infothek/Anschriften_Links/addresses_links-node.html" target="_blank" class="obvious-link">link</a>.
<br>
<br>
<h4>Right to Data Transferability</h4>
<br>
You have the right to have data which we process automatically on the basis of your consent or in fulfillment of a contract handed over to you or to a third party in a common, machine-readable format. If you request the direct transfer of the data to another person responsible, this will only take place if it is technically feasible.
<br>
<br>
<h4>Information, Blocking, Deletion</h4>
<br>
You have the right to free information about your stored personal data, their origin and recipients and the purpose of data processing and, if necessary, a right to correction, blocking or deletion of this data at any time within the scope of the applicable legal provisions. You can contact us at any time at the address given in the imprint if you have any further questions on the subject of personal data.</p>
   <h3 class="section-header">3. Data Protection Officer</h3>
   <p><h4>Legally Required Data Protection Officer </h4>
<br>
We have appointed a data protection officer for our company.
You can reach him at: <a href="mailto:denswam@gmail.com" class="obvious-link">Denis Wambua</a></p>
   <h3 class="section-header">4. Data Collection on Our Website</h3>
   <p><h4>Cookies</h4>
<br>
Some of the Internet pages use so-called cookies. Cookies do not cause any damage to your computer and do not contain any viruses. Cookies serve to make our website more user-friendly, effective and secure. Cookies are small text files that are stored on your computer and saved by your browser.
<br>
Most of the cookies we use are so-called "session cookies". They are automatically deleted at the end of your visit. Other cookies remain stored on your terminal until you delete them. These cookies enable us to recognize your browser the next time you visit our website.
<br>
You can set your browser so that you are informed about the setting of cookies and only allow cookies in individual cases, exclude the acceptance of cookies for certain cases or in general and activate the automatic deletion of cookies when closing the browser. When cookies are deactivated, the functionality of this website may be limited.
<br>
Cookies, which are necessary to carry out the electronic communication process or to provide certain functions desired by you (e.g. shopping basket function), are stored on the basis of Art. 6 para. 1 lit. f DSGVO. The website operator has a legitimate interest in the storage of cookies for technically error-free and optimized provision of his services. As far as other cookies (e.g. cookies for the analysis of your surfing behavior) are stored, these will be treated separately in this data protection declaration.
<br>
<br>
<h4>Contact Form</h4>
<br>
If you send us enquiries using the contact form, your details from the enquiry form, including the contact data you provided there, will be stored for the purpose of processing the enquiry and in the event of follow-up questions. We will not pass on this data without your consent.
<br>
The data entered in the contact form is therefore processed exclusively on the basis of your consent (Art. 6 para. 1 lit. a DSGVO). You can revoke this consent at any time. All you need to do is send us an informal e-mail. The legality of the data processing processes carried out up to the revocation remains unaffected by the revocation.
<br>
The data entered by you in the contact form will remain with us until you request us to delete, your consent for storage revoked or the purpose for data storage no longer applies (e.g. after your request has been processed). Mandatory statutory provisions - in particular retention periods - remain unaffected.
<br>
<br>
<h4>Applicant Data</h4>
<br>
We collect and process the personal data of applicants for the purpose of handling the application process. Processing may also be carried out electronically.
<br>
This is particularly the case if an applicant submits corresponding application documents to us electronically, for example by e-mail or via a web form on the website.
<br>
If an employment contract results from the application, the transmitted data will be stored for the purpose of processing the employment relationship in compliance with legal regulations.
<br>
If no employment contract results from the application, the application documents shall be deleted six months after completion of the filling of the vacancy, provided that no other legitimate interests of the controller stand in the way of deletion. Other legitimate interest in this sense is, for example, a burden of proof in proceedings under the General Equal Treatment Act (AGG). After approval by the applicant, the data may also be stored for a longer period.
<br>
<br>
<h4>Registration</h4>
<br>
If you register for our offer, the data entered will be used for the purpose of using the offer. We may inform you by e-mail about information relevant to offers or registration, such as changes to the scope of offers or technical circumstances. The data collected can be seen in the input mask during registration.
<br>
<br>
<h4>Comment Function</h4>
<br>
If you leave comments on our website, we store your IP address so that we can react appropriately to illegal content (e.g. insults or other content relevant under criminal law).
Users can subscribe to follow-up comments. For this we use the so-called "double-opt-in" method. This means that only after you have declared in a confirmation e-mail that you are the owner of the entered e-mail address by clicking on a link, follow-up comments will be sent to you automatically. You can unsubscribe from ongoing comment subscriptions at any time. The confirmation e-mail will contain notes on this.
<br>
<br>
<h4>Access Data</h4>
<br>
We or our web space provider collect data about every access to our internet offer. This includes: the name of our website accessed, file, date and time of access, notification of successful access, browser type and version, the user's operating system, transferred data volume, referrer URL (the previously visited page), IP address and the requesting provider.
<br>
It is used solely for statistical evaluations for the purpose of operation, safety and optimization of the offer. Nevertheless, we reserve the right to check these data subsequently if there is suspicion of illegal use on the basis of concrete indications.
<br>
<br>
<h4>Integrated Third-Party Content and Services</h4>
<br>
Our website may also include third-party content, such as videos from YouTube, maps from Google Maps, RSS feeds or graphics from other websites. This always presupposes that the providers of this content (hereinafter referred to as "third party providers") are aware of the IP address of the users. The IP address is required to display this content. We endeavour to use only those contents whose respective providers use the IP address only for the delivery of the contents, but point out that we have no influence on it if the third party providers store the IP address e.g. for statistical purposes. As far as we know, we will inform you about this.</p>
   <h3 class="section-header">5. Social Media</h3>
   <p><h4>Facebook Plugins (Like & Share Button)</h4>
<br>
Our pages include plugins from the social network Facebook, provider Facebook Inc, 1 Hacker Way, Menlo Park, California 94025, USA. You can recognize the Facebook plugins by the Facebook logo or the "Like" button on our page. An overview of the Facebook plugins can be found <a href="https://developers.facebook.com/docs/plugins/" target="_blank" class="obvious-link facebook-plugin">here</a>.
<br>
When you visit our pages, the plugin establishes a direct connection between your browser and the Facebook server. Facebook receives the information that you have visited our site with your IP address.
<br>

<h4>Google Maps</h4>
<br>
This page uses the map service Google Maps via an API. The provider is Google Inc, 1600 Amphitheatre Parkway, Mountain View, CA 94043, USA.
<br>
To use the functions of Google Maps it is necessary to save your IP address. This information is usually transferred to a Google server in the USA and stored there. The provider of this site has no influence on this data transmission.
<br>
The use of Google Maps is in the interest of an appealing representation of our online offers and at an easy findability of the places indicated by us on the website. This represents a legitimate interest within the meaning of Art. 6 para. 1 lit. f DSGVO.
<br>
You can find more information about the handling of user data in <a href="https://policies.google.com/privacy?hl=en" target="_blank" class="obvious-link google-maps-policies">Google's privacy policy</a>.
<br>
<br>
<h4>Google Analytics</h4>
<br>
This website uses the "Google Analytics" service, which is provided by Google Inc. (1600 Amphitheatre Parkway Mountain View, CA 94043, USA) for analysis of website usage by users. The service uses "cookies" - text files which are stored on your terminal. The information collected by the cookies is usually sent to a Google server in the USA and stored there.
<br>
IP anonymisation is used on this website. The IP address of users within the member states of the EU and the European Economic Area will be reduced. This reduction eliminates the personal reference to your IP address. As part of the contract data agreement concluded between the website operators and Google Inc., Google uses the information collected to evaluate the use of the website and website activity and to provide services related to Internet use.
<br>
You have the option of preventing the storage of cookies on your device by making the appropriate settings in your browser. There is no guarantee that you will be able to access all functions of this website without restrictions if your browser does not allow cookies.
<br>
Furthermore, you can use a browser plug-in to prevent the information collected by cookies (including your IP address) from being sent to Google Inc. and used by Google Inc. This <a href="https://tools.google.com/dlpage/gaoptout?hl=en " target="_blank" class="obvious-link google-optout">link</a> leads you to the corresponding plugin.
<br>
<a href="https://support.google.com/analytics/answer/6004245?hl=en" target="_blank" class="obvious-link google-analytics">Here</a> you will find further information on data usage by Google Inc..
<br>
<br>
