<h1>Internal Error 500</h1>

  <%= image_tag('pixar.jpg') %>

 <p>Whoops! something went wrong on our end, our geek monkeys have jumped into action to correct the issue,kindly check back later</p>

<%= link_to "Home", root_path, class: "btn btn-primary" %>
